{% extends "base.html" %}

{% block main %}

<h3>A Few words about us</h3>

<p>The David Kent Group have been established since 1997. Based in Edinburgh, we are a family run business who strongly believe in working together with our clients to give maximum satisfaction on any projects we undertake.</p>

<p>We take our work seriously and strive to consolidate our reputation as being a company who can be relied upon to carry out and complete all work to the best of our ability.</p>

<h3>Testimonials</h3>

<p>We have an extensive list of testimonials ranging from private homeowners to large housing associations and property management companies.</p>

<p>Testimonials are available via email request only.</p>

<h3>What we Offer</h3>

<p>Free No Obligation Estimates</p>

<p>Superb Quality Workmanship Carried Out By Highly Skilled Tradesmen.</p>

<p>All Jobs Fully Guaranteed.</p>

{% endblock %}
