{% extends "base.html" %}

{% block main %}

    A FEW WORDS ABOUT US

The David Kent Group have been established since 1997. Based in Edinburgh, we are a family run business who strongly believe in working together with our clients to give maximum satisfaction on any projects we undertake.

We take our work seriously and strive to consolidate our reputation as being a company who can be relied upon to carry out and complete all work to the best of our ability.

TESTIMONIALS

We have an extensive list of testimonials ranging from private homeowners to large housing associations and property management companies.

Testimonials are available via email request only.

WHAT WE OFFER

Free No Obligation Estimates

Superb Quality Workmanship Carried Out By Highly Skilled Tradesmen.

All Jobs Fully Guaranteed.

{% endblock %}