{% extends "base.html" %}

{% block main %}
<h1>Contact Information </h1>

<p>For further information on any of our products or services, please feel free to give us a call.</p>

<p>Alternatively you may choose to send us a fax or email.</p>

<p>To arrange for one of our representatives to carry out a free no obligation estimate at a time of your convenience, please call 0131 668 4487.</p>


<h2>Postal Address</h2>

<p> David Kent Group<br>53 Mayfield Road<br>Edinburgh EH9 3AA</p>

<p>TELEPHONE: 0131 668 4487</p>
<p>E-MAIL: info@davidkentgroup.com</p>

<p>Thank you for taking the time to visit the David Kent Group online.<p>
{% endblock %}