{% extends "base.html" %}

{% block main %}

    Welcome to the David Kent Group

The David Kent Group are a family run business and have been established since 1997. We specialise in all areas of property renovation and restoration.

Our highly skilled tradesmen are a dedicated team committed to providing our highest standards of workmanship possible using quality materials for the projects we carry out.

We cover all trades related to property renovation and restoration work.

When you are looking to have work carried out on your home or property why not give us a call on 0131 668 4487. All estimates are free without obligation.

Customers looking to have work carried out on their property will have the benefit of gaining from our knowledge and complete satisfaction by being covered with our full guarantee of quality workmanship.

{% endblock %}