{% extends "base.html" %}
{% block main %}

<h1>Portfolio</h1>

<script type="text/javascript" src="/static/jquery.slides.min.js"></script>
<script type="text/javascript">
    $(function() {
        $("#slider").slidesjs({
            width: 940,
            height: 528
        });
    });
</script>

<div id="slider" style="display: inline;">
    <img src="/static/photos/photo1.jpg" height="200">
    <p>
    <img src="/static/photos/photo2.jpg" height="200">
    <p>
    <img src="/static/photos/photo3.jpg" height="200">
    <p>
    <img src="/static/photos/photo4.jpg" height="200">
    <p>
    <img src="/static/photos/photo5.jpg" height="200">
    <p>
    <img src="/static/photos/photo6.jpg" height="200">
    <p>
    <img src="/static/photos/photo7.jpg" height="200">
    <p>
    <img src="/static/photos/photo8.jpg" height="200">
    <p>
    <img src="/static/photos/photo9.jpg" height="200">
    <p>
</div>

{% endblock %}
