{% extends "base.html" %}

{% block main %}

    <h3>One of our recent projects</h3>

    One of our recent projects was an extension to a family home in Edinburgh, requiring the dismantling of an existing extension and the creation of a larger one.  The client asked for an extension which was in keeping with the house, re-using as much of the existing stone and materials as possible.
    <p>

    photo1: Work begins by demolishing a wall beside the existing extension.
    photo2: The existing extension is dismantled.
    photo3: The site is cleared and new foundations laid.
    photo4: The new extension is taking shape: the stone is in place.
    photo5: Pipework is laid in the new extension.
    photo6: Pipes are put in for bathroom radiators.
    photo7: Interior walls and doors are defined.
    photo8: Guttering and downpipes are added at the front.
    photo9: The completed project with re-used stone matching the existing house.

{% endblock %}