{% extends "base.html" %}

{% block main %}

   <h3>Services Include:</h3>

<pre>
	Renovation
	Restoration
	Joinery
	Plumbing
	Central Heating
	Painting
	Decorating
	Building
	Roofing
	Tiling
	Plastering
</pre>

<h3>Our Services</h3>

<p>The David Kent Group offers clients the complete property renovation and restoration service.</p>

<p>If you have any work in need of carrying out, we welcome all work regardless of job size.</p>

<p>All tradesmen employed by us are hand picked, time served craftsmen with many years of experience behind them.</p>

<p>All in all, you can be assured that any work we undertake is always done to the highest standards using only the best quality materials suitable for the project.</p>

<p>Our clientele include chartered and building surveyors and property developers, business and residential. No project is too big for us.</p>

<p>All work carried out by us is fully guaranteed.</p>


{% endblock %}